{% extends "base.html" %}

{% block content %}


<nav class="navbar">
    <div class="container">
        <div class="left-side">
            <label class="navbar-brand" href="#">Blog Study</label>
        </div>
    </div>
</nav>

<div class="Titulo">
    <h1>Login</h1>
</div>

<div class="login">
    <form method="post">
        <div class="usuario">
            <label for="username">Usuário</label>
            <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
        </div>
        <div class="senha">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
        </div>
        <a href="#" class="forgot-password">Esqueci minha senha</a>
        <button type="submit">Entrar</button>
    </form>
</div>

<div>
    <footer class="footer">
        <div class="container-ft">
            <p>&copy; blogtest@blogstudy</p>
        </div>
    </footer>
</div>
{% endblock %}